<div     class="body">
    <div class="right-hand">
        <div class="right-finger"><div class="right-nail"></div></div>
        <div class="right-finger"><div class="right-nail"></div></div>
        <div class="right-finger"><div class="right-nail"></div></div>
        <div class="right-finger"><div class="right-nail"></div></div>
        <div class="right-finger"><div class="right-nail"></div></div>
        
    </div>
    <div class="left-hand">
        <div class="left-finger"><div class="left-nail"></div></div>
        <div class="left-finger"><div class="nail"></div></div>
        <div class="left-finger"><div class="nail"></div></div>
        <div class="left-finger"><div class="nail"></div></div>
        <div class="left-finger"><div class="nail"></div></div>
    </div>
    
    

</div>
    