<div     class="body">
    <div class="right-hand">
        <div [class]="one ? 'right-finger select' : 'right-finger'"><div [class]="one? 'nail selected' : 'nail'"></div>
        </div>
        <div [class]="two ? 'right-finger select' : 'right-finger'"><div [class]="two? 'nail selected' : 'nail'"></div></div>
        <div [class]="three ? 'right-finger select' : 'right-finger'"><div [class]="three? 'nail selected' : 'nail'"></div></div>
        <div [class]="four ? 'right-finger select' : 'right-finger'"><div [class]="four? 'nail selected' : 'nail'"></div></div>
        <div [class]="five ? 'right-finger select' : 'right-finger'"><div [class]="five? 'nail selected' : 'nail'"></div></div>
    </div>
    <div class="left-hand">
        <div [class]="six ? 'left-finger select' : 'left-finger'"><div [class]="six? 'left-nail selected' : 'left-nail'"></div></div>
        <div [class]="seven ? 'left-finger select' : 'left-finger'"><div [class]="seven? 'nail selected' : 'nail'"></div></div>
        <div [class]="eight ? 'left-finger select' : 'left-finger'"><div [class]="eight? 'nail selected' : 'nail'"></div></div>
        <div [class]="nine ? 'left-finger select' : 'left-finger'"><div [class]="nine? 'nail selected' : 'nail'"></div></div>
        <div [class]="ten ? 'left-finger select' : 'left-finger'"><div [class]="ten? 'nail selected' : 'nail'"></div></div>
    </div>
    
</div>