<div class="container">
    <div class="row">
        <div class="col col-lg-6">
            <!-- <button mat-raised-button color="primary" routerLink="/typingChallenge">Comp One</button> -->
            <mat-card class="simple-card" routerLink="/typingChallenge">
                <mat-card-title >Typing Tutorial</mat-card-title>
                <mat-card-content>
                </mat-card-content>
                
              </mat-card>

        </div>
        <div class="col col-lg-6">
            <!-- <button mat-raised-button color="primary" routerLink="/imageViewer">Comp Two</button> -->
            <mat-card class="simple-card" routerLink="/imageViewer">
                <mat-card-title >Counting Fingers</mat-card-title>
              </mat-card>
        </div>
    </div>
</div>

