
.mat-card {
    background: #1d1c1c;
    color: rgba(245, 241, 241, 0.87);
}

.simple-card{
    max-width: 400px;
    min-height: 400px;
  }

  .container{
        font-family: arial;
        font-size: 24px;
        margin: 50px;
        width: 400px;
        height: 400px;
    
        /* outline: dashed 1px black; */
      
  }

  .loader {
    position: relative;
    overflow: hidden;
    border-right: 3px solid;
    width: 0px;
    animation: typewriter 4s steps(10)  infinite alternate , blink 0.5s steps(5) infinite;
  }
  
  .loader-text {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(to right,#159957, #155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes typewriter {
    0% {
      width: 0px;
    }
  
    100% {
      width: 240px;
    }
  }
  
  @keyframes blink {
    0% {
      border-right-color: rgba(255,255,255,.75);
      ;
    }
  
    100% {
      border-right-color: transparent;
    }
  }